@import "tailwindcss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: system-ui, sans-serif;
  background-color: #1b1b1c;
  color: #ffffff;
}

:root {
  --primary: #e4e4e4;
  --bg: #1b1b1b;
  --text: #e7e7e7;
}